.App-header {
  background-color:rgba(5,0,0,0.85);
  min-height: 15vh;
  display: flex;
  align-items: center;  
}

.Title-header {
  justify-content: center;
  color: white;
  width: 100%;
  font-size: calc(20px + 2vmin);
}

.App-panel {
  background-color:rgba(5,0,0,0.65);
  min-height: 90vh;
}

.App-link {
  color: #61dafb;
}

.Input_label{
  color: #FFFFFF;
  font-size: calc(9px + 1vmin);
}

.Head-img{
  padding: 0 20px;
  height: 25vh;
  float:left;
}

.mylabels{
  fill: white;
}

.chartTitle{
  color: white;
  text-align: center;
  font-size: calc(8px + 1vmin);
}

.item_input{
  height:90px;
}

.NotesDiv{
  height:40px;
  position:relative;
}

.Notes{
  color: white;
  font-size: calc(4px + 1vmin);
  font-style: italic;
  position:absolute;
  bottom:0;
  right:0; 
}

.WeaponDescription
{
  color: white;
  font-size: calc(4px + 1vmin);
  font-style: italic;
}